<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blog post</title>
</head>
<body th:object="${post}">
	<h1>Post by <span th:text="*{author.name}">John Doe</span></h1>
	<p th:text="*{content}">This is a post.</p>
	<p>Likes: <span th:text="${likeCount}">0</span></p>
	<form method="post" action="#" th:action="@{/forum/post/{id}/like(id = ${post.id})}">
<!--		<label for="userdropdown">Select your username</label>-->
<!--		<select id="userdropdown" th:name="likerId">-->
<!--			<option th:each="userOption : ${userList}" th:value="${userOption.id}" th:text="${userOption.name}"></option>-->
<!--		</select>-->
		<input type="submit" value="Like!">
	</form>
	
<div class="comments">
    <h3>Comments</h3>
    <ul>
        <li th:each="comment : ${commentList}">
            <p th:text="${comment.user.username}">Username</p>
            <p th:text="${comment.content}">Comment content</p>
        </li>
    </ul>
</div>

<form th:object="${commentForm}" method="post" th:action="@{/forum/post/{id}/comment(id=${post.id})}">
    <textarea th:field="*{content}" rows="4" cols="50"></textarea>
    <button type="submit">Add Comment</button>
</form>
</body>
</html>